<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2><%= report.name %></h2>
        <div class="content">
            <p>Education usage duration: <%= report.eduDur %> hours</p>
            <p>Shopping usage duration: <%= report.shopDur %> hours</p>
            <p>Browsing usage duration: <%= report.browseDur %> hours</p>
            <p>Social media usage duration: <%= report.socialDur %> hours</p>
            <br><br>
            <p>Report created on the: <%= report.date %></p>


        </div>
        <a class="delete" data-doc="<%= report._id %>">delete</a>
    </div>

    <div class="update">
        <button type="button" class="update-button">Update</button>
        <div class="update-content">
            <form action="/reports/<%=report.id%>" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="eduDur">Education usage duration:</label>
                <input type="number" id="eduDur" name="eduDur" required>
                <label for="shopDur">Shopping usage duration:</label>
                <input type="number" id="shopDur" name="shopDur" required>
                <label for="browseDur">Browsing usage duration:</label>
                <input type="number" id="browseDur" name="browseDur" required>
                <label for="socialDur">Social media usage duration:</label>
                <input type="number" id="socialDur" name="socialDur" required>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
                <button>Submit</button> 
            </form> 
    
        </div>


    </div>

    <%- include('./partials/footer.ejs') %> 

    <script>
        document.querySelectorAll('.update-button').forEach(button => {
            button.addEventListener('click', () => {
                const updateContent = button.nextElementSibling;

                button.classList.toggle('update-button--active');

                if (button.classList.contains('update-button--active')) {
                    updateContent.style.maxHeight = updateContent.scrollHeight + 'px';
                } else {
                    updateContent.style.maxHeight = 0;
                }
            });
        });
    </script>

    <script>    
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/reports/${trashcan.dataset.doc}`;
            
            fetch(endpoint, {
                method: 'delete'
            })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));    
        })                                                                              
    </script>

</body>

</html>